<%- include("partials/header") -%>

<div class="column is-offset-4 is-4">
    <div class="card" style="background-color: ghostwhite;">
        <div class="card-image">
            <figure class="image is-4by3">
            <img src="key.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <center><p class="title is-2" style="color:gray;">SECRETS</p></center>
            </div>
            </div>
        
            <div class="content">
            <div class="columns">
                <div class="column">
                    <center><a href="/login"><button class="button is-success is-medium">Login</button></a></center>
                </div>
                <div class="column">
                    <center><a href="/register"><button class="button is-info is-medium">Register</button></a></center>
                </div>
            </div>
            </div>
        </div>
        </div>
</div>

<%- include("partials/footer") -%>