<%- include("partials/header") -%>

<div class="column is-offset-3 is-6">
    <div class="card" style="background-color: ghostwhite;">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <center><p class="title is-3" style="color:gray;">Welcome to S3cr3t Page</p></center>
            </div>
            </div>
            <div class="card-content">
                <div class="box" style="background-color: black;">
                    <center><p class="title is-4" style="color:white">I once slipped in a pond.</p></center>
                </div>
            </div>
            <div class="content">
            <div class="columns">
                <div class="column">
                    <center><form action="/logout" method="POST"><button class="button is-success is-medium" type="submit">Logout</button></form></a></center>
                </div>
                <div class="column">
                    <center><a href="/register"><button class="button is-dark is-medium">Submit a Secret</button></a></center>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>